/* global */

:root {
    --main-color: #0dcaf0;
}

body {
    background-color: #eee;
}

.form-check-input:checked {
    background-color: var(--main-color)
}

.purple-shadow {
    box-shadow: 0 0 25px rgba(128, 0, 128, 0.35);
}

.main-heading {
    background: linear-gradient(to bottom, #ff00bf 0%, #003cff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 2px solid #eee;
    text-transform: uppercase;
}

/* tooltip */
.custom-tooltip {
    --bs-tooltip-color: #3C9181;
    --bs-tooltip-bg: #CFE2FF;
}

/* navbar */

nav .logo {
    width: 50px;
    height: 50px;
}

nav .nav-item .nav-link,
nav .dropdown-menu a,
nav .nav-link.active {
    color: var(--main-color) !important;
}

input {
    border: 2px solid var(--main-color) !important;
    caret-color: #ccc;
    color: #ccc;
}

input:focus {
    box-shadow: none !important;
}

input::placeholder {
    color: #ccc;
}

nav .dropdown,
nav .dropdown-menu {
    border: 1px solid var(--main-color);
}

nav .dropdown-divider {
    border-color: var(--main-color);
}

/* carousel */

.carousel-item {
    height: calc(100vh - 66px);
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(13, 202, 240, 0.5)
}

.carousel {
    position: relative;
}

.carousel aside {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 50px;
    z-index: 9;
    cursor: pointer;
    color: #334A52;
}

.carousel aside .icon:hover {
    color: var(--main-color);
}

/* welcome */

.welcome {
    background-color: #96AFB8;
}

.welcome .container h2 {
    border: none;
}


/* dest */

.dest {
    background-color: #3C9181
}

.accordion-item h2.main-heading {
    border: none;
    font-size: 25px;
}

/* translate */

.translate p span {
    color: #3C9181;
    font-weight: 600;
    cursor: pointer;
}

.translate button {
    color: #3C9181;
    text-transform: capitalize;
    font-weight: 500;
}

.translate button:hover {
    color: #3C9181;
}

.translate textarea {
    display: block;
    border: 1px solid #777;
    border-radius: 10px;
    width: 100%;
}

/* pop */

.pop {
    padding-top: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../imgs/luxur/img9.jpg);
}

.pop img {
    object-fit: cover;
    height: 300px;
    z-index: -2;
}

.pop .card {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.pop .card::before,
.pop .card::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    transition: 0.5s;
    background-color: rgba(13, 202, 240, 0.25);
    z-index: -1;
}

.pop .card::before {
    top: 0;
    left: 0;
}

.pop .card::after {
    bottom: 0;
    right: 0;
}

.pop .card:hover::before,
.pop .card:hover::after {
    width: 100%;
    height: 100%;
}

/* thanks */

.thanks {
    padding-top: 200px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../imgs/aswan/img7.jpg);
}

.thanks .main-heading {
    border: none;
}

.thanks .card {
    height: 400px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(150, 175, 184, 0.5), rgba(150, 175, 184, 0.5)), url(../imgs/trainer-3.jpg);
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.thanks .card:hover {
    scale: 0.9;
    background: linear-gradient(0deg, rgba(150, 175, 184, 0.85), rgba(150, 175, 184, 0.85)), url(../imgs/trainer-3.jpg);
    background-size: cover;
}

.thanks .card img {
    width: 100px;
}


/* news */

.news h2 {
    border: none;
}

.news h3 {
    color: #3C9181;
}

.news .line {
    position: relative;
}

.news .line::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100px;
    left: 0;
    bottom: -20px;
    background-color: #3C9181;
}

.new {
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-image: url(../imgs/galalh/IMG-20230227-WA0040.jpg);
    background-size: cover;
}

.new:nth-of-type(odd)::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 80%;
    transform: skewX(5deg);
    height: 100%;
    top: 0;
    left: -15px;
    background-color: #eee;
}

.new:nth-of-type(even) {
    display: flex;
    justify-content: flex-end;
}

.new:nth-of-type(even)::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 80%;
    transform: skewX(-5deg);
    height: 100%;
    top: 0;
    right: -15px;

    background-color: #eee;
}

/* social */

.social .box {
    cursor: pointer;
}

/* footer */

footer .head {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .head img {
    width: 100px;
    height: 100px;
}